#wrapper {
	background-color:#FFFFFF; 
	width:100%; 
	min-width:700px;
	max-width: 1000px; 
	margin-left:auto; 
	margin-right:auto;
}

h1 {
	font-size:72px; 
	color: rgba(25,190,55,0.70);
	text-align:center;
	font-weight:500;
}

body {
	margin: 0px;
	font-family: 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, Arial, sans-serif;
	background-color: #E4F1F8;

}

blockquote {
	background: #f9f9f9;
	border-left: 10px solid medium;
	padding: 0.5em 50px;
	text-align: center;
}

#output {
    padding: 30px;
}

/* 
@import "http://fonts.googleapis.com/css?family=Source+Sans+Pro";
 */
#mainnav, #mainnav ul, #mainnav ul li, #mainnav ul li a, #mainnav #menu-button {
    border: 0 none;
    box-sizing: border-box;
    display: block;
    line-height: 1;
    list-style: outside none none;
    margin: 0;
    padding: 0;
    position: relative;
}
#mainnav:after, #mainnav > ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
#mainnav #menu-button {
    display: none;
}
#mainnav {
    background: linear-gradient(to top, #b2d495, #cce2b9) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #98c571;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 -2px 0 #aacf8a inset, 0 1px 0 #d4e7c4 inset;
    font-family: "Source Sans Pro",sans-serif;
    line-height: 1;
    width: auto;
}

#mainnav > ul > li {
    float: left;
    width:20%;
    text-align: center;
}
#mainnav.align-center > ul {
    font-size: 0;
    text-align: center;
}
#mainnav.align-center > ul > li {
    display: inline-block;
    float: none;
}
#mainnav.align-right > ul > li {
    float: right;
}
#mainnav > ul > li > a {
    color: #fcfefb;
    font-size: 15px;
    padding: 20px 25px 21px;
    text-decoration: none;
    transition: all 0.2s ease 0s;
}
#mainnav > ul > li:first-child > a {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
#mainnav.align-center > ul > li:first-child > a {
    border-radius: 0;
}
#mainnav.align-right > ul > li:first-child > a {
    border-radius: 0;
}
#mainnav > ul > li:hover > a, #mainnav > ul > li.active > a {
    color: #444444;

}
#mainnav > ul > li:hover > a, #mainnav > ul > li > a:hover {
    background: none repeat scroll 0 0 rgba(125, 125, 125, 0.04);
}
#mainnav > ul > li:after {
	-webkit-linear-gradient(center top , rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    background: -moz-linear-gradient(center top , rgba(0, 0, 0, 0), #000000, rgba(0, 0, 0, 0)) repeat scroll 0 0 rgba(0, 0, 0, 0);
    content: "";
    display: block;
    height: 20px;
    opacity: 0.15;
    position: absolute;
    right: 0;
    top: 18px;
    width: 1px;
}

#assign {
	list-style-type: none;
}

#tareas {
	text-align:center; 
	background-color: #B3CCE5;
	margin-top:10px; 
	padding-bottom:20px;
	width: 80%;
	margin-left: auto;
    margin-right: auto;
}
/* For the table  */
table, th, td {
    border: 1px solid black;
}

/* for the button */
.myButton {
-moz-box-shadow: 0px 10px 14px -7px #276873;
-webkit-box-shadow: 0px 10px 14px -7px #276873;
box-shadow: 0px 10px 14px -7px #276873;
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
background-color:#599bb3;
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
display:inline-block;
cursor:pointer;
color:#ffffff;
font-family:arial;
font-size:12px;
font-weight:bold;
padding:13px 30px;
text-decoration:none;
text-shadow:0px 1px 0px #3d768a;
}

.myButton:hover {
background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
background-color:#408c99;
}

.myButton:active {
position:relative;
top:1px;
}

.myButton:focus {
	outline: none; 
}

h2 {
	color:#248FB2;
}

#table {
align-content:center; 
border:solid;
margin-left:100px;
background-color:#61E6B9;
max-width:700px;
min-width:700px;
}

#login {
	background-color: #000000;
	color: white;
	text-align: right;
	height: 30px;
}
